.icon {
  margin: 1vh;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.footer-container {
  background-color: var(--black);
  color: var(--white);
}

.footer {
  background-color: transparent;
  display: flex;
  font-size: 30pt;
  justify-content: space-around;
}

.dark.footer-container {
  background-color: var(--white);
  color: var(--black);
}

.icon:active {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

@media only screen and (max-width: 576px) {
}

@media only screen and (min-width: 577px) {
}

@media only screen and (min-width: 1200px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: 30pt;
  }
}
