body {
	background-color: #e9e9e9;
}

.center {
	margin: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -90%);
}

#frontpage-holder {
	opacity: 1;
	transition-duration: 0.1s;
}

#aboutme-holder {
	opacity: 0;
	transition-duration: 0.1s;
	display: none;
}

#skills-holder {
	opacity: 0;
	transition-duration: 0.1s;
	display: none;
}

#projects-holder {
	opacity: 0;
	transition-duration: 0.1s;
	display: none;
}

#contact-holder {
	opacity: 0;
	transition-duration: 0.1s;
	display: none;
}

#donate-holder {
	opacity: 0;
	transition-duration: 0.1s;
	display: none;
}

.backButton {
	width: 24px;
	height: 24px;
}